.intro-text-section {
  padding: 10px 20px 40px 20px;
  min-height: 80vh; /* Takes up most of the first screen */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.human-failure-title {
  font-family: 'BianzhidaiRing', sans-serif;
  font-weight: normal;
  color: #3554f7;
  font-size: 17vw; 
  line-height: 0.9;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  text-align: center;
}

.overproductivity-subtitle {
  font-family: 'ABCCameraPlain', sans-serif;
  color: #3554f7;
  font-weight: 500;
  text-align: left;
  font-size: 2rem;
  line-height: 0.9;
  background-color: #cfcfcf;
  width: fit-content;
  padding: 0;
  margin-bottom: 0px;
}

.intro-paragraph {
  font-family: 'ABCCameraPlain', sans-serif;
  color: #3554f7;
  font-size: 1.3rem;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.15;
  background-color: #cfcfcf;
  width: fit-content;
}

.intro-image {
  width: 100vw;
  height: auto;
  display: block;
  margin-left: -20px; /* Counteract parent padding */
  margin-top: 0;
}

.intro-paragraph2 {
  font-family: 'ABCCameraPlain', sans-serif;
  color: #3554f7;
  font-size: 1.3rem;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #cfcfcf;
  line-height: 1.15;
}

.subtitle2 {
  font-family: 'ABCCameraPlain', sans-serif;
  color: #ffffff;
  font-size: .9rem;
  line-height: 1.15;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.8em;
  padding-bottom: .8em;
  margin-left: 0em;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #3554f7;
  
}

.title2 {
  font-family: 'ABCCameraPlain', sans-serif;
  color: #3554f7;
  font-size: 2.5em;
  line-height: 0.9;
  text-align: left;
  background-color: #cfcfcf;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: .4em;
}

.intro-image-2-wrapper {
  width: 100vw;
  margin-top: 0;
  background-color: #3554f7;
  padding: 20px;
  box-sizing: border-box;
}

.intro-image-2-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}
@media (min-width: 768px) {
  .human-failure-title {
    font-size: 8rem;
  }
  .overproductivity-subtitle {
    font-size: 2rem;
  }
  .intro-paragraph {
    font-size: 1.5rem;
    max-width: 80%;
  }
}

