.intro-text-section {
  padding: 10px 20px 40px 20px;
  min-height: 80vh; /* Takes up most of the first screen */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.human-failure-title {
  font-family: 'BianzhidaiRing', sans-serif;
  font-weight: normal;
  color: #3554f7;
  font-size: 17vw; 
  line-height: 0.9;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  text-align: center;
}

.overproductivity-subtitle {
  font-family: 'ABCCameraPlain', sans-serif;
  color: #3554f7;
  font-weight: 500;
  text-align: left;
  font-size: 2rem;
  line-height: 0.9;
  background-color: #cfcfcf;
  width: fit-content;
  padding: 0;
  margin-bottom: 0px;
}

.intro-paragraph {
  font-family: 'ABCCameraPlain', sans-serif;
  color: #3554f7;
  font-size: 1.3rem;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.15;
  background-color: #cfcfcf;
  width: fit-content;
}

.intro-image {
  width: 100vw;
  height: auto;
  display: block;
  margin-left: -20px; /* Counteract parent padding */
  margin-top: 0;
}

.intro-paragraph2 {
  font-family: 'ABCCameraPlain', sans-serif;
  color: #3554f7;
  font-size: 1.3rem;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #cfcfcf;
  line-height: 1.15;
}

.subtitle2 {
  font-family: 'ABCCameraPlain', sans-serif;
  color: #ffffff;
  font-size: .9rem;
  line-height: 1.15;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.8em;
  padding-bottom: .8em;
  margin-left: 0em;
  margin-top: 0;
  margin-bottom: -3.4em;
  background-color: #3554f7;
  
}

.title2 {
  font-family: 'ABCCameraPlain', sans-serif;
  color: #3554f7;
  font-weight: 500;
  text-align: left;
  font-size: 2.6rem;
  line-height: 0.9;
  background-color: #cfcfcf;
  padding-left: 5px;
  width: fit-content;
  margin-bottom: .2em;
  margin-left: 20px;
}

.intro-image-2-wrapper {
  width: 100vw;
  margin-top: 0;
  background-color: #3554f7;
  padding: 20px;
  box-sizing: border-box;
}


.intro-image-2-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.title3 {
  font-family: 'ABCCameraPlain', sans-serif;
  color: #3554f7;
  font-weight: 500;
  text-align: left;
  font-size: 2rem;
  line-height: 0.9;
  background-color: #cfcfcf;
  width: fit-content;
  padding: 0;
  margin-bottom: 0px;
  margin-left: 1em;
}
.intro-paragraph3 {
  font-family: 'ABCCameraPlain', sans-serif;
  color: #3554f7;
  font-size: 1.3rem;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.15;
  background-color: #cfcfcf;
  width: fit-content;
  margin-bottom: 1em;
}

/* === Collapsible Accordion Menu === */
.accordion-item {
  cursor: pointer;
  user-select: none;
  margin-bottom: 0em;
}

.accordion-item:last-child {
  margin-bottom: 2rem;
}

.accordion-header {
  padding: 12px 10px;
  font-family: 'ABCCameraPlain', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1;
}

.accordion-content {
  padding: 0 10px;
  overflow: hidden;
  
}

.accordion-inner {
  font-family: 'ABCCameraPlain', sans-serif;
  font-size: 1.3rem;
  line-height: 1.35;
}

/* HEALTH: white background, blue text for both title and content */
.accordion-item.health .accordion-header {
  background: #ffffff;
  color: #3554f7;

}

.accordion-item.health .accordion-content {
  background: #ffffff;
  color: #3554f7;
}

/* SIDE EFFECTS: blue background, white text for both title and content */
.accordion-item.side-effects .accordion-header,
.accordion-item.side-effects .accordion-content {
  background: #3554f7;
  color: #ffffff;
}

/* ADVICES: grey background, white text for both title and content */
.accordion-item.advices .accordion-header,
.accordion-item.advices .accordion-content {
  background: #cfcfcf;
  color: #ffffff;
}

@media (min-width: 768px) {
  .human-failure-title {
    font-size: 8rem;
  }
  .overproductivity-subtitle {
    font-size: 2rem;
  }
  .intro-paragraph {
    font-size: 1.5rem;
    max-width: 80%;
  }
}

